.empty-star{
    color: rgb(197, 179, 11);
}
.full-star{
    color: rgb(0, 255, 13);
}
.item{
    border-radius: 20px !important;
    transition: 0.7s;
}
.item:hover{
    transform: translateY(-5px);
}
